powerConsumptionWPF/powerConsumptionWPF/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PowerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPowerService_dailyConsuption_InputMessage">
    <wsdl:part name="parameters" element="tns:dailyConsuption" />
  </wsdl:message>
  <wsdl:message name="IPowerService_dailyConsuption_OutputMessage">
    <wsdl:part name="parameters" element="tns:dailyConsuptionResponse" />
  </wsdl:message>
  <wsdl:message name="IPowerService_monthlyConsuption_InputMessage">
    <wsdl:part name="parameters" element="tns:monthlyConsuption" />
  </wsdl:message>
  <wsdl:message name="IPowerService_monthlyConsuption_OutputMessage">
    <wsdl:part name="parameters" element="tns:monthlyConsuptionResponse" />
  </wsdl:message>
  <wsdl:message name="IPowerService_annualConsuption_InputMessage">
    <wsdl:part name="parameters" element="tns:annualConsuption" />
  </wsdl:message>
  <wsdl:message name="IPowerService_annualConsuption_OutputMessage">
    <wsdl:part name="parameters" element="tns:annualConsuptionResponse" />
  </wsdl:message>
  <wsdl:portType name="IPowerService">
    <wsdl:operation name="dailyConsuption">
      <wsdl:input wsaw:Action="http://tempuri.org/IPowerService/dailyConsuption" message="tns:IPowerService_dailyConsuption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPowerService/dailyConsuptionResponse" message="tns:IPowerService_dailyConsuption_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="monthlyConsuption">
      <wsdl:input wsaw:Action="http://tempuri.org/IPowerService/monthlyConsuption" message="tns:IPowerService_monthlyConsuption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPowerService/monthlyConsuptionResponse" message="tns:IPowerService_monthlyConsuption_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="annualConsuption">
      <wsdl:input wsaw:Action="http://tempuri.org/IPowerService/annualConsuption" message="tns:IPowerService_annualConsuption_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPowerService/annualConsuptionResponse" message="tns:IPowerService_annualConsuption_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPowerService" type="tns:IPowerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dailyConsuption">
      <soap:operation soapAction="http://tempuri.org/IPowerService/dailyConsuption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="monthlyConsuption">
      <soap:operation soapAction="http://tempuri.org/IPowerService/monthlyConsuption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="annualConsuption">
      <soap:operation soapAction="http://tempuri.org/IPowerService/annualConsuption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PowerService">
    <wsdl:port name="BasicHttpBinding_IPowerService" binding="tns:BasicHttpBinding_IPowerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/powerConsumptionServer/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>