powerConsumptionWPF/powerConsumptionWPF/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dailyConsuption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="price" type="xs:double" />
        <xs:element minOccurs="0" name="power" type="xs:int" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="hours" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dailyConsuptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dailyConsuptionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="monthlyConsuption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="price" type="xs:double" />
        <xs:element minOccurs="0" name="power" type="xs:int" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="hours" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="monthlyConsuptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="monthlyConsuptionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="annualConsuption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="price" type="xs:double" />
        <xs:element minOccurs="0" name="power" type="xs:int" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="hours" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="annualConsuptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="annualConsuptionResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>